#ifndef SSID
#define SSID "WiFI_SSID"
#endif

#ifndef PASSWORD 
#define PASSWORD "WiFi_PASSWORD"
#endif

#ifndef WSS_ADDRESS
#define WSS_ADDRESS "WSS_ADDRESS"
#endif

#ifndef WSS_PORT
#define WSS_PORT 81
#endif

const char* ssid = SSID;
const char* password = PASSWORD;
const char* webSocketServerAddress = WSS_ADDRESS;
const int webSocketServerPort = WSS_PORT;